
<div class="container" *ngFor="let detail of movie">
  <div class="poster">
    <img [src]="urlImg + detail.poster_path" alt="">
  </div>
  <div class="info">
    <div class="movie-title">{{detail.title}}

    </div>
    <div class="movie-detail">
      <div class="set">
        <label >Release Date</label>
        <span>{{detail.release_date | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="set">
        <label >Geners</label>
        <span *ngFor="let genre of detail.genres">/ {{genre.name}} </span>
      </div>
      <div class="set">
        <label >Duration</label>
        <span>{{detail.runtime}} min</span>
      </div>
      <div class="movie-description">
        {{detail.overview}}
      </div>
      <div class="movie-cast" >
        <div class="header">Cast</div>
        <div class="list" >
          <div class="cast" *ngFor="let casts of cast | slice: 0:8">
            <img *ngIf="casts.profile_path; else notFoundImage" [src]="urlImg + casts.profile_path" alt="">
            <label for="">{{casts.name}}</label>
          </div>

          <ng-template #notFoundImage>
            <img src="path_to_not_found_image.jpg" alt="Not Found">
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>

