<div class="container">
  <div id="inner" class="inner">
      <div class="images-wrapper" #imgDiv (click)="selectedCard($event)">
      </div>

      <div id="prev" class="slider__navbutton" (click)="onClickRow('prev')"></div>
      <div id="next" class="slider__navbutton" (click)="onClickRow('next')"></div>


      <div class="slider__nav">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [value]="radioButtonId">
              <mat-radio-button color='primary' class="example-radio-button" *ngFor="let boton of arrUrlIMG; let i=index" [value]="boton"
                  [checked]="true" (click)="onClickRadioBoton(i)">
              </mat-radio-button>
          </mat-radio-group>
      </div>
  </div>

</div>
